Django==6.1.1
django-cors-headers==4.9.0
djangorestframework==3.18.1
python-dotenv==1.2.3
requests==2.34.2
msal==1.38.0
openai==3.10.0
ffmpeg-python==0.2.0
pydub==0.25.1
pypdf==6.18.1
python-docx==1.2.0
openpyxl==3.1.5
psycopg2-binary>=2.9.10

